:root {
  --primary-color: rgb(54, 54, 148);
  --secondary-color: lightgray;
  --hover-color: rgb(74, 74, 193);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

ul {
  list-style: none;
}

.left {
  grid-column: 1 / 2;

}

.right {
  grid-column: 2 / 3;
}

/* Editor */
.editor {
  background-color: white;
  color: black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-height: 40px;
}

.dropDownBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.dropDownOpenIcon, .dropDownCloseIcon {
  height: 40px;
  width: 40px;
}

.dropdownBtn {
  cursor: pointer;
}

.general-editor-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

.editor-form {
  display: grid;
}

.hidden {
  display: none;
}

.visible {
  display: grid;
}

/* Forms */

.form {
  background-color: lightgray;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-item {
  display: grid;
  grid-template-rows: auto auto;
  gap: 8px;
  padding-right: 20px;
}

.form-item input {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
}

/* Buttons */

.submitBtn, .editBtn, .addBtn, .removeBtn, .cancelBtn {
  background-color: var(--primary-color);
  padding: 10px;
}

button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

/* CV Display */

.CV-general, .CV-education-item, .CV-experience-item, .CV-education {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  border: 1px solid red;
}

.CV-name {
  font-size: 4rem;
}

.CV-info {
  display: flex;
  gap: 20px;
}

/* Pill */
.pill {
  background-color: var(--primary-color);
  display: flex;
  color: white;
  justify-content: space-around;
  width: 400px;
  border-radius: 25px;
}

.pill:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}