:root {
  --primary-color: rgb(54, 54, 148);
  --secondary-color: lightgray;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.section {
  background-color: white;
  color: black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.section-form {
  display: grid;
}

.dropDownBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.dropDownOpenIcon, .dropDownCloseIcon {
  height: 40px;
  width: 40px;
}

.dropdownBtn:hover {
  cursor: pointer;
}

.form {
  background-color: lightgray;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-item {
  display: grid;
  grid-template-rows: auto auto;
  gap: 8px;
  padding-right: 20px;
}

.form-item input {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
}

button {
  background-color: transparent;
  padding: 0px;
}

.submitBtn {
  background-color: var(--primary-color);
  padding: 10px;
}