:root {
  --primary-color: rgb(54, 54, 148);
  --secondary-color: lightgray;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.left {
  grid-column: 1 / 2;

}

.right {
  grid-column: 2 / 3;
}

.section {
  background-color: white;
  color: black;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-height: 40px;
}

.dropDownBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.dropDownOpenIcon, .dropDownCloseIcon {
  height: 40px;
  width: 40px;
}

.dropdownBtn:hover {
  cursor: pointer;
}


.section-form {
  display: grid;
}

.form {
  background-color: lightgray;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-item {
  display: grid;
  grid-template-rows: auto auto;
  gap: 8px;
  padding-right: 20px;
}

.form-item input {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
}

.submitBtn {
  background-color: var(--primary-color);
  padding: 10px;
}

.CV-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  border: 1px solid red;
}

.CV-name {
  font-size: 4rem;
}

.CV-info {
  display: flex;
  gap: 20px;
}